<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="diagonal"></div>

    <div style="text-align: center; margin-top: 120px">
      <img src="<%= logo %>" width="220" />
      <h1 style="font-size: 40px">Depreciation Analysis</h1>

      <p>
        Prepared for:<br />
        <strong><%= client.name %></strong><br />
        <%= client.address %>
      </p>

      <img src="<%= building %>" style="width: 70%; margin-top: 40px" />
    </div>
  </body>
</html>
