body {
  margin: 0;
}

.page {
  position: relative;
  width: 100%;
  margin: 0;
}

.blue-accent {
  position: absolute;
  right: -120px;
  bottom: -80px;
  width: 420px;
  height: 420px;
  background: #1e4ed8;
  transform: rotate(45deg);
}

.blue-accent.dark {
  background: #0f2e5a;
  right: -220px;
  bottom: -140px;
}
