@page {
  size: A4;
  margin: 70px 60px;
}

body {
  font-family: Inter, Arial, sans-serif;
  font-size: 19px;
  color: #333;
}

h1,
h2 {
  color: #0f4c81;
}

.header {
  position: fixed;
  top: -50px;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: -40px;
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  color: #777;
}

.diagonal {
  position: fixed;
  right: -40px;
  top: 0;
  width: 180px;
  height: 100%;
  background: #123a7a;
  transform: skewX(-12deg);
}

.section {
  page-break-inside: avoid;
  margin-bottom: 25px;
}